*.html
*.pdf
*.docx
*.png
*.*~
*.Rproj
.Rproj.user
*.bak
.Renviron
.Rhistory
*.RData
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*-concordance.tex
*.tex
dontgit
auto
dontgit
figure
myMakefile
iris.csv
presentation.md
*-figure
Report.R
